<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <main>
      <%- include('partials/formBar') %>

      <div class="mainDiv">
        <h1>File Detail</h1>
        <% if (locals.file) { %>
        <p><%= file.name %></p>
        <a href="<%= file.url %>" download="<%= file.name %>">Download</a>
        <p>Size: <%= file.size / 1000 %> KB</p>
        <p>Uploaded: <%= file.timestamp %></p>

        <p>
          Folders: <% if (file.folder.length > 0) { file.folder.forEach((folder) => { %> 
            <a href="/folder/<%= folder.id %>"><%= folder.name %>  </a>
            
          <%})} else { %>
            None
          <% } %>  
        </p>

        <!-- <img src="<%= file.url %>"" alt=""> -->
        <form action="/file/edit/<%= file.id %>" method="post">
          <label for="folderUpdate">Edit Folders:</label>
          <select name="folderUpdate" id="folderUpdate" multiple>
            <% if (locals.folders) { %> <% folders.forEach((folder) => {%>
            <option value="<%= folder.id %>"><%= folder.name %></option>
            <%})%> <% } %>
          </select>          
          <button>Submit</button>
        </form>
        <form action="/file/delete/<%= file.id %>" method="post">
          <button name="publicId" value="<%= file.publicId %>">Delete</button>
        </form>
        <% } %>
      </div>
    </main>
  </body>
</html>
