<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <main>
      <%- include('partials/formBar') %>
      <h1>Folder Detail:</h1>
      <% if (locals.folder) { %>
      <h1><%= folder.name %></h1>
      <form action="/folder/edit/<%= folder.id %>" method="post">
        <button>Edit</button>
      </form>
      <form action="/folder/delete/<%= folder.id %>" method="post">
        <button>Delete</button>
      </form>
      <% } %>
    </main>
  </body>
</html>
