<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <main>
      <%- include('partials/formBar') %>
      <div class="mainDiv">
        <a href="/">Back to Home</a>
        <% if (locals.folder) { %>
        <h1>Folder: <%= folder.name %></h1>
        <form action="/folder/edit/<%= folder.id %>" method="post">
          <label for="folderRename">Rename Folder:</label>
          <input type="text" name="folderRename" required />
          <button>Save</button>
        </form>
        <form action="/folder/delete/<%= folder.id %>" method="post">
          <button>Delete</button>
        </form>
        <% } %>
        <ul class="fileUL">
          <% if (locals.files) { %> <% files.forEach((file) => {%>
          <li class="fileLI">
            <!-- <p><%= file.name %></p> -->
            <a href="/file/<%= file.id %>"><%= file.name %></a>
            <!-- <p><%= file.size / 1000 %> KB</p>
            <p><%= file.timestamp %></p> -->
            <!-- <img src="<%= file.url %>"" alt=""> -->
            <!-- <form action="/file/delete/<%= file.id %>" method="post">
              <button>Delete</button>
            </form> -->
          </li>
          <%})%> <% } %>
        </ul>
      </div>
    </main>
  </body>
</html>
