<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <main>
      <%- include('partials/formBar') %>
      <div class="mainDiv">
        <h1>Folders: </h1>

        <ul class="folderUL">
          <% if (locals.folders) { %> <% folders.forEach((folder) => {%>
          <li class="folderLI">
            <a href="/folder/<%= folder.id %>">
              <img src="/imgs/folder.svg" alt="" />
              <p><%= folder.name %></p>
            </a>
          </li>
          <%})%> <% } %>
        </ul>
        <h1>Files: </h1>

        <ul class="fileUL">
          <% if (locals.files) { %> <% files.forEach((file) => {%>
          <li class="fileLI">
            <a href="/file/<%= file.id %>"><%= file.name %></a>
            <!-- <p><%= file.size / 1000 %> KB</p> -->
            <!-- <p><%= file.timestamp %></p> -->
            <!-- <img src="<%= file.url %>"" alt=""> -->
            <!-- <form action="/file/delete/<%= file.id %>" method="post">
              <button>Delete</button>
            </form> -->
          </li>
          <%})%> <% } %>
        </ul>
      </div>
    </main>
  </body>
</html>
